.locations {
    padding: 30px;
    margin-top: 40px;
    background-color: black;
    font-family: Open Sans;
    font-weight: 600;
    text-align: left;
    margin: 20px 60px;
}

.locations h2 {
    color: white;
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;

}

.places {
    display: flex;
    color: white;
    gap: 60px;
    padding: 70px 50px;
}

.placeName {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.places img {
    margin: 0px 15px;
}

.places p {
    font-family: Open Sans;
    font-size: 18.81px;
    font-weight: 600;
    line-height: 25.62px;
    text-align: left;
}

.places .divider {
    background-color: white;
    width: 1px;
    height: 41px;
}

@media screen and (min-width: 300px) and (max-width:900px) {
    .locations {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding: 20px 10px;
        margin: 0px;
    }

    .locations h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        padding: 10px 20px;
    }

    .divider {
        display: none;
    }

    .places {
        display: flex;
        flex-wrap: wrap;
        text-wrap: nowrap;
        margin: 0px;
        padding: 20px 0px;
        gap: 20px;
    }

    .places p {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 600;
        line-height: 19.07px;
        text-align: left;
    }

}