.search{
    background-image: url('../../../../public/Images/red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 50px;
    height: 180px;
    padding: 20px 45px;
    position: relative;
}

.searchLabels button{
    margin: 5px 10px;
    color: white;
}

.searchLabels button select{
    background: transparent;
    color: white;
    border: none;
    padding: 5px;
}

.active{
    text-decoration: underline;
}

.inputFields{
    margin: 20px 5px;
    display: flex;
    gap: 15px;
}

.location{
    position: relative;
}

.location select{
    padding: 5px 20px;
    height: 42px;
    width: 188px;
    border: none;
    outline: none;
    border-radius: 15px;
    appearance: none;
}

#locationIcon{
    position: absolute;
    left: 8px;
    top: 14px;
}

#dropDown{
    position: absolute;
    right: 10px;
    top: 17px;
}

.inputFields input{
    border-radius: 15px;
    padding: 0px 5px;
    height: 42px;
    width: 188px;
    padding-left: 25px;
    font-size: 14px;
    outline: none;
    border: none;
}

.inputFields input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer; 
}

#calender{
    position: absolute;
    left: 10px;
}

.dateTime{
    display: flex;
    position: relative;
    align-items: center;
}

#searchButton{
    background-color: white;
    padding: 6px 19px;
    border-radius: 15px;
}

.divider {
    background-color: white;
    width: 1px;
    height: 41px;
}

#quickBook{
    padding: 10px 50px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
}

.downloadLinks{
    color: white;
    display: flex;
    gap: 20px;
}

.downloadLinks p{
   font-size: 14px;
   font-weight: 300;
   line-height: 21px;
   text-align: left;
}

.stores{
    display: flex;
    gap: 10px;
}

.searchButtonsPhone{
    display: none;
}



@media screen and (min-width: 300px) and (max-width:900px) {
    .searchLabels{
        display: none;
    }

    .inputFields{
        display: none;
    }

    .search{
        height: 80px;
        margin: 10px;
        padding: 36px;
        background-size: cover;
        max-width: 100%;
        border-radius: 20px;
    }

    .search p{
        width: fit-content;
    }

    .downloadLinks{
        text-align: center;
        display: block;
    }

    .downloadLinks p{
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
    }

    .stores{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .stores img{
        width: 120px;
        height: 35px;
    }


}


  